@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #0b0c0e;
  }

  html {
    font-family: "Nunito", sans-serif;
    color: #f9fafc;
  }
}
